<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CheckLogin</filter-name>
        <filter-class>Controller.CheckLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ShowItems</servlet-name>
        <servlet-class>Controller.ShowItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWishList</servlet-name>
        <servlet-class>Controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderTracking</servlet-name>
        <servlet-class>Controller.ShowOrderTracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOrderDetails</servlet-name>
        <servlet-class>Controller.ShowOrderDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.Admin.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_UpdateItemServlet</servlet-name>
        <servlet-class>Controller.Admin.M_UpdateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_ShowOrder</servlet-name>
        <servlet-class>Controller.Admin.M_ShowOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_ShowOrderDetail</servlet-name>
        <servlet-class>Controller.Admin.M_ShowOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_UpdateOrderStatus</servlet-name>
        <servlet-class>Controller.Admin.M_UpdateOrderStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_ShowReport</servlet-name>
        <servlet-class>Controller.Admin.M_ShowReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_SearchDateReport</servlet-name>
        <servlet-class>Controller.Admin.M_SearchDateReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_SearchMonthReport</servlet-name>
        <servlet-class>Controller.Admin.M_SearchMonthReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_AddNewItem</servlet-name>
        <servlet-class>Controller.Admin.M_AddNewItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Controller.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_ShowItem</servlet-name>
        <servlet-class>Controller.Admin.M_ShowItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCart</servlet-name>
        <servlet-class>Controller.EditCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCart</servlet-name>
        <servlet-class>Controller.SaveCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToWishlist</servlet-name>
        <servlet-class>Controller.AddToWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromWishList</servlet-name>
        <servlet-class>Controller.RemoveFromWishList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_Logout</servlet-name>
        <servlet-class>Controller.Admin.M_Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>M_UpdateProduct</servlet-name>
        <servlet-class>Controller.Admin.M_CheckUpdateItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowItems</servlet-name>
        <url-pattern>/ShowItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWishList</servlet-name>
        <url-pattern>/AddWishList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderTracking</servlet-name>
        <url-pattern>/ShowOrderTracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrderDetails</servlet-name>
        <url-pattern>/ShowOrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_UpdateItemServlet</servlet-name>
        <url-pattern>/Admin/M_UpdateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_ShowOrder</servlet-name>
        <url-pattern>/Admin/M_ShowOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_ShowOrderDetail</servlet-name>
        <url-pattern>/Admin/M_ShowOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_UpdateOrderStatus</servlet-name>
        <url-pattern>/Admin/M_UpdateOrderStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_ShowReport</servlet-name>
        <url-pattern>/Admin/M_ShowReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_SearchDateReport</servlet-name>
        <url-pattern>/Admin/M_SearchDateReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_SearchMonthReport</servlet-name>
        <url-pattern>/Admin/M_SearchMonthReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_AddNewItem</servlet-name>
        <url-pattern>/Admin/M_AddNewItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_ShowItem</servlet-name>
        <url-pattern>/Admin/M_ShowItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCart</servlet-name>
        <url-pattern>/EditCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCart</servlet-name>
        <url-pattern>/SaveCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToWishlist</servlet-name>
        <url-pattern>/AddToWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromWishList</servlet-name>
        <url-pattern>/RemoveFromWishList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_Logout</servlet-name>
        <url-pattern>/M_Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>M_UpdateProduct</servlet-name>
        <url-pattern>/Admin/M_CheckUpdateItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcome</welcome-file>
    </welcome-file-list>
</web-app>
